.rowcard11{
    position: relative;
}

.large{
    height: 750px;
}

.box1{
    margin: 20px;
}

.box2{
    height: 120px;
    width: 120px;
    border-radius: 5px solid black;
}

.box4{
    padding-left: 21px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  nav {
    background-color: #0060ab;
    overflow: hidden;
    position: fixed;
    top: 1;
    right: 56px;
  }

  nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 34px 10px;
    text-decoration: none;
  }

  nav a:hover {
    background-color:  #0060ab;
    color: #FCA900;
    text-decoration: underline;
}

.heading{
    color: #0060ab;
    font-family: "Poppins", Sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 50px;
    padding-top: 89px;
    padding-left: 25px;
}

.content{
    color: #212B38;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: 19px;
    padding-left: 25px;
}

.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #00a546 75%, #0060ab 25%);
    color: white;
    text-align: left;
    text-decoration: none;
    padding: 25px 80px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50px;

  }

  .button::before {
    content: "→";
    position: absolute;
    top: 24px;
    right: 14%;
    transform: translateX(50%);
  }

.imgbox{
    padding-right: 5px;
}
.cardheading{
    color: #212B38;
    font-family: "Poppins", Sans-serif;
    font-weight: 600;
}

.card-image{
    height:71px;
    width:91px;
    margin-top: 15px;
    margin-left: 12px;
}

.card-space{
    margin: 24px;
    border-radius: 25px;
    height: 280px;
}

.postion{
    position: absolute;
    top: 688px;
    display: flex;
}

.piston{
    position: absolute;
    left: 465px;
    top: 145px;
}

/* .border-tyle{
    border-top: black dashed 5px ;
    padding-bottom: 50px;
} */